[main]
host=127.0.0.1
port=0000
alias=rembot.a.b


[icq_bot]
token=XXX.XXXXXXXXXX.XXXXXXXXX:XXXXXXXX
owner=e.sineokov@corp.mail.ru
poll_time_s=300
task_timeout_s=60
request_timeout_s=7
task_max_len=1000000000

[ctlr]
host=127.0.0.1
port=0000

[graphite]
enable=0
server=graphite.example.com
prefix=system.sync
port=3003

[tarantool]
host=127.0.0.1
port=3301